{% extends 'layouts/dashboard.njk' %}

{% block useraction %}
  <form action="/projects/create" method="post">
    <input type="text" name="name" placeholder="Novo projeto">
    <button type="submit" class="btn">
      <img src="img/plus.svg">
    </button>
  </form>
{% endblock %}


{% block body %}
  <section id="content">
    <div class="project-list">

      {% for project in projects %}
        <a href="project.html">{{project.name}}</a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
