<nav>
  <div class="sessions">
  {% for section in sections %}
    <a href="/projects/{{project.id}}/sections/{{section.id}}">section.title</a>
  {% endfor %}
  </div>

  <a href="/projects/{{project.id}}/sections/create" class="btn">Nova seção</a>
</nav>
