<nav>
  <div class="sessions">
  {% for loopSection in sections %}
    <a href="/projects/{{project.id}}/sections/{{loopSection.id}}" class="{% if section.id == loopSection.id %}active{% endif %}">{{loopSection.title}}</a>
  {% endfor %}
  </div>

  <a href="/projects/{{project.id}}/sections" class="btn">Nova seção</a>
</nav>
