<h2>Meus projetos ({{ projects.length }})</h2>
<div class="addon">
  <form action="/projects/create" method="post">
    <input type="text" name="name" placeholder="Novo projeto">
    <button type="submit" class="btn">
      <img src="img/plus.svg">
    </button>
  </form>
</div>

