<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Rocketseat, Challenge 01 - Formulário</title>
  </head>
  <body>
    <form action="/check" method="post">
      <input type="text" name="name">
      <input type="date" name="birthday">
      <button type="submit">Enviar Formulário</button>
    </form>
  </body>
</html>
