body {
  background: #E9EBEE;
}

header {
  background: #4267B2;
  border-bottom: 1px;
  border-color: #29487D;
  height: 60px;
}

header h1 {
  font-size: 20px;
  color: #FFF;
  text-align: center;
  padding-top: 20px;
}

#post-container {
  box-sizing: border-box;
  width: 700px;
  margin: 20px auto;
  background: #FFF;
  padding: 30px;
}

.post-header {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCC;
}

.post-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-right: 10px;
}

.hours-ago {
  margin-top: 0px;
}

.username {
  font-size: 16px;
  color: #666;
  font-weight: bold;
  margin-bottom: 0px;
}

.hours-ago {
  font-size: 14px;
  color: #999;
}
