{% extends 'layouts/dashboard.njk' %}

{% block body %}
  <section id="main">
    <div class="container">
      {% include 'partials/headProject.njk' %}
      <section id="content">
        {% include 'partials/nav.njk' %}
        <article>
          <div class="project-header">
            <h1>{{section.title}}</h1>
            <a href="/projects/{{project.id}}/sections/{{section.id}}/edit" class="edit">Editar seção</a>
            <form action="/projects/{{project.id}}/sections/{{section.id}}?_method=DELETE" method="post">
              <button type="submit" class="delete">Remover seção</button>
            </form>
          </div>
          {{section.formattedContent | safe}}
        </article>
      </section>
    </div>
  </section>

{% endblock %}
