{% extends 'layouts/default.njk' %}
<!DOCTYPE html>
{% block body %}
  <section id="main">
    <div class="container">
      <section id="content">
        <article>
          <div class="project-header">
            <h1>Rota não encontrada</h1>
          </div>
        </article>
      </section>
    </div>
  </section>
{% endblock %}
