{% extends 'layouts/default.njk' %}

{% block body%}
  <div class="wrapper">
    {% include 'partials/menu.njk' %}
    <section id="main">
      <div class="container">
        <header>
          {% include 'partials/sections-header.njk' %}
        </header>

        <section id="content">
          {% include 'partials/section-menu.njk' %}
          <article>
            <div class="project-header">
              <h1>Selecione ou crie uma seção para seu projeto</h1>
            </div>
          </article>
        </section>
      </div>
    </section>
  </div>
{% endblock %}
