<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Docfy</title>

    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="wrapper">
      <header id="header">
        <div class="container">
          <h1>Docfy</h1>
          <div class="user-info">
            <p class="welcome">
            Bem vindo<br>
            <strong>Diego Fernandes</strong>
            </p>
            <a href="signin.html" class="btn btn-danger">
              <img src="img/signout.svg">
            </a>
          </div>
        </div>
      </header>
      <section id="main">
        <div class="container">
          <header>
            <h2>Meus projetos (4)</h2>
            <div class="addon">
              {% block useraction %}
              {% endblock %}
            </div>
          </header>
          {% block body %}
          {% endblock %}
        </div>
      </section>
    </div>
  </body>
</html>
