<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>App Snippetfy</title>
  </head>
  <body>
   <h1>Hello Rocketseat</h1>

    {% for user in users %}
      <p>{{user.name}} - {{user.email}}</p>
    {% endfor %}
  </body>
</html>
